{% extends "navbar.html" %}

{% block body %}
<div class="container">
    <h2>Hakkımızda<h2>
    <hr>
    <p style="font-size:18px">    Türkiye ve bölgenin lider e-ticaret platfomu Hepsiburada, Türkiye’de dijital dönüşümün öncülüğünü yapıyor, marka ve işletmeleri platformunda milyonlarca müşteri ile bir araya getiriyor, perakendenin gelişimini ve yerel ekonomilerin büyümesini destekliyor.

1998 yılında ilk tohumları atılan platform, 2001 yılında Hepsiburada markasıyla Doğan Online’ın bir parçası olarak hayatına devam etmeye başladı. Bugün Hepsiburada, geldiği konum itibarıyla Türkiye ve bölgesinin en büyük e-ticaret şirketi olmakla beraber, Türkiye’de internet ve teknoloji alanındaki şirketler arasında lider olarak kabul ediliyor.

Hepsiburada; 2001 yılından bu yana, dijital dönüşümü desteklemeye ve perakende sektörü ile el ele büyümeye devam ediyor. E-ticarette müşteri deneyimi ve alışverişi kolaylaştıran çözümleriyle geniş kategori ve ürün seçeneklerini tek tıkla müşterilerinin ayağına taşıyor. Hepsiburada, müşterilerine sunduğu kolaylıklar ve avantajlarla online alışveriş alışkanlığının yaygınlaşmasına, e-ticaret sektörünün gelişmesine öncülük ediyor.
</p>
</div>
{% endblock body %}